mixin event(time, title)
  .slot.cf
    span.time= time
    span.title= title

mixin break(time, type)
  .slot.break.cf
    span.time= time
    span.type= type

mixin talk(speaker)
  .slot.talk.cf
    span.time= speaker.time
    span.title= speaker.title
      = ' - '
      a.speaker(href=href)= speaker.name

section#schedule.schedule
  h2 Schedule
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  .container.dual-column.cf
    .column
      h3 Day 1
      +event('8:00am', 'Registration opens')
      +event('9:00am', 'Opening Remarks')
      +talk(- speakers[0])
      +break('10:10am', 'BREAK')
      +event('5:40pm', 'Closing Remarks')
      +event('6:00pm', 'End of Day 1')
      +event('7:00pm', 'After Party')
    .column
      h3 Day 2
      +event('8:00am', 'Registration opens')
      +event('9:00am', 'Opening Remarks')
      +event('5:20pm', 'Session 6 - Speaker Panel')
      +event('5:40pm', 'Closing Remarks')
      +event('6:00pm', 'End of Day 2')