extends ../layouts/layout.jade

block vars
    - var title = "Agenda"

mixin talk(speaker)
  tr
    if (!speaker.secondary)
      td.datetime= speaker.time
    else
      td.datetime
    td.speaker
      img(src='/images/speakers/' + speaker.image alt=speaker.name)
      h3= speaker.name
      if (!speaker.secondary)
        h4= speaker.title
      a(href='/speaker/' + speaker.id + '.html')

mixin break(time, type)
  .slot.break.cf
    span.time= time
    span.type= type

mixin group(title)
  tr.group
    td
    td= title

mixin event(time, title, room, description)
  tr.event
    td.datetime= time
    td.event
      h3= title
      if (room)
        h4= room
      if (description)
        p= description

mixin break(time)
  tr.event
    td.datetime= time
    td.event
      h2 Break

mixin tablehead (date, day)
  thead
    tr
      th.datetime= date
      th.day= day

mixin listitem()
  ul
    li
      table

block content

    // heading
    include ../partials/secondary-header.jade

    section.schedule.content
        ul
          li
            table
              +tablehead('June 22', 'Monday')

              +event('8:00 am', 'Registration', 'The Parlor', 'Come get your badge, some coffee, and make some new friends')

              +group('What makes these Javascript Frameworks Tick')
              +talk(speakers[0])
              +talk(speakers[1])
              +talk(speakers[2])

              +break('10:25 am')

              +group('The Full Stack')
              +talk(speakers[3])
              +talk(speakers[4])
              +talk(speakers[5])
              

              +event('12:20 pm', 'Lunch / Bazaar', 'Outside / Sutter Room', 'Enjoy an authentic San Francisco Food Truck Lunch and join us in the Open Source Bazaar')

              +group('Why Empathize?')
              +talk(speakers[6])
              +talk(speakers[7])
              +talk(speakers[8])

              +break('3:35 pm')

              +group('The importance of being accessible.')
              +talk(speakers[9])
              +talk(speakers[10])
              +talk(speakers[11])
              
              +group('Keynote')
              +talk(speakers[12])
              
              +event('7:00 pm', 'Famous Launch After Party', 'Join us for some exciting announcements, and some live music!')

          li
            table
              +tablehead('June 23', 'Tuesday')

              +event('8:30 am', 'Caffeine Dispensing', 'The Parlor', 'Come get your badge, some coffee, and make some new friends')

              +group("The Wonderful World of the AST")
              +talk(speakers[13])
              +talk(speakers[14])
              +talk(speakers[15])
              +talk(speakers[16])
              +talk(speakers[17])

              +break('10:50 am')

              +group("What they didn't tell you is possible with dev tools.")
              +talk(speakers[18])
              +talk(speakers[19])

              +event('12:00 pm', 'Lunch / Bazaar', 'Outside / Sutter Room', 'Moar Foodtruck, Moar Bazaar, Moar Friends!')

              +group('Respond to these CSS talks!')
              +talk(speakers[20])
              +talk(speakers[21])
              +talk(speakers[22])

              +break('3:50 pm')

              +group('Wild Cards')
              +talk(speakers[23])
              +talk(speakers[24])
              +talk(speakers[25])
              +talk(speakers[26])
              +talk(speakers[27])
