extends ../../layouts/layout.jade

block content
  .container.speaker

      .stripe

      section.speaker

          .column
              img(src="../images/speakers/#{image}")
              .content
                h2 #{name}
                a(href="https://twitter.com/#{twitter}" target="_blank") @#{twitter}
                label Biography
                p #{bio}

          .column
            .content
              label Topic
              h2 #{topic}
              .info
                  label Location
                  h3 #{location}
                  div.horizontal-group
                      span
                          label Time
                          h3 #{time}
                      span
                          label Day
                          h3 #{day}
                  label Title
                  h3 #{title}
                  label.details Details
                  p #{details}
